html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#menu {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 2;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#menu.menu-collapsed {
    width: 30px;
    height: 30px;
}

#menu-collapse {
    position: absolute;
    left: 5px;
    bottom: 5px;
    cursor: pointer;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #C5C5C5;
}

#menu.menu-collapsed #menu-collapse {
    left: 7px;
    border-right: none;
    border-left: 20px solid #A2A2A2;
}

#menu.menu-collapsed #menu-contents {
    display: none;
}

#menu-contents-project {
    padding: 10px;
}

#menu-contents-save, #menu-contents-delete, #menu-contents-rename, #menu-contents-add-node {
    display: none;
}

.menu-contents-project-loaded > button {
    display: inline !important;
}

.menu-contents-project-resource input {
    width: calc(100%/3);
    box-sizing: border-box;
}

#area {
    position: absolute;
    z-index: 1;
}

.node {
    position: absolute;
    width: 300px;
    height: 100px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.node .node-name {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 0px none;
    padding: 5px;
    width: 225px;
    box-sizing: border-box;
}

.node .node-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 20px;
    padding: 0;
    display: none;
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 20px;
    line-height: 20px;
}

.node .node-drag {
    position: absolute;
    top: 0;
    right: 25px;
    display: none;
    width: 50px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQYV2NggIMZM2b4AgAFtAIWCad32AAAAABJRU5ErkJggg==);
    cursor: move;
}

.node .node-edge {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    display: none;
    width: 20px;
    cursor: cell;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.node-resources {
    position: absolute;
    top: 40px;
    left: 0;
    height: 60px;
    width: 280px;
    border-spacing: 1px;
}

.node-resources input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.node-resources td {
    padding: 0;
}

.node-resources .empty {
    display: none;
}

.node:hover .node-resources .empty {
    display: table-cell;
}

.node:hover .node-delete, .node:hover .node-drag, .node:hover .node-edge {
    display: block;
}

.edge {
    position: absolute;
    background: black;
    height: 2px;
    transform-origin: top left;
}
