$background-color: #FAFAFA;
$secondary-background-color: #FFF;
$highlight-color: #A2A2A2;
$secondary-highlight-color: #C5C5C5;

$node-width: 300px;
$node-height: 120px;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: $background-color;
}

#menu {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 2;
    left: 0;
    bottom: 0;
    background: $secondary-background-color;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

    #menu-collapse {
        position: absolute;
        left: 5px;
        bottom: 5px;
        cursor: pointer;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid $secondary-highlight-color;
    }

    &.menu-collapsed {
        width: 30px;
        height: 30px;

        #menu-collapse {
            left: 7px;
            border-right: none;
            border-left: 20px solid $highlight-color;
        }

        #menu-contents {
            display: none;
        }
    }
}

#menu-contents-project {
    padding: 10px;

    .project-dates {
        left: 0;
        right: 20px;
        bottom: 0;
        height: 20px;

        input {
            width: 50%;
            float: left;
            box-sizing: border-box;
            border: none;
        }

        input:last-child {
            float: right;
        }
    }
}

.project-started .project-start {
    display: none;
}

.menu-contents-project-loaded > button {
    display: inline !important;
}

.menu-contents-project-resource {
    display: inline-block;

    input {
        width: calc(100%/3);
        box-sizing: border-box;
        float: left;
    }
}

#area {
    position: absolute;
    z-index: 1;

    .project-area {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: auto;
    }
}

.node {
    background: $secondary-background-color;
    position: absolute;
    width: $node-width;
    height: $node-height;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    z-index: 3;

    > * {
        position: absolute;
    }

    input, button {
        background-color: transparent;
    }

    .empty {
        display: none;
    }

    .node-name {
        top: 0;
        left: 0;
        border: none;
        padding: 5px;
        width: $node-width - 100px;
        box-sizing: border-box;
    }

    .node-delete {
        top: 0;
        right: 0;
        width: 25px;
        height: 20px;
        padding: 0;
        visibility: hidden;
        cursor: pointer;
        border: none;
        font-size: 20px;
        line-height: 20px;
    }

    .node-drag {
        position: absolute;
        top: 0;
        right: 50px;
        visibility: hidden;
        width: 50px;
        height: 20px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQYV2NggIMZM2b4AgAFtAIWCad32AAAAABJRU5ErkJggg==);
        cursor: move;
    }

    .node-critical {
        top: 0;
        right: 25px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: $highlight-color;
    }

    .node-edge {
        top: 30px;
        right: 0;
        bottom: 0;
        visibility: hidden;
        width: 20px;
        cursor: cell;
        text-align: center;
        font-size: 20px;
        line-height: $node-height - 60px;
    }

    .node-resources {
        top: 40px;
        left: 0;
        bottom: 20px;
        right: 20px;
        border-spacing: 1px;
        display: block;

        input {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            border: none;
            color: inherit;
        }

        td {
            padding: 0;

            &.red {
                color: red;
            }
        }
    }

    .node-dates {
        left: 0;
        right: 20px;
        bottom: 0;
        height: 20px;

        input {
            width: 50%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            border: none;
        }

        input:last-child {
            float: right;
        }
    }

    &:hover {
        z-index: 4;

        .empty {
            display: block;
        }

        .node-resources .empty {
            display: table-cell;
        }

        > * {
            visibility: visible;
        }
    }

    &.critical {
        box-shadow: 0 0 7px 1px rgba(0,0,0,0.7);

        .node-critical {
            opacity: 1;
            background: $secondary-highlight-color;
            color: white;
        }
    }

    &.red {
        box-shadow: 0 0 5px 0 rgba(255,0,0,0.5);
    }

    &.red.critical {
        box-shadow: 0 0 7px 1px rgba(255,0,0,0.7);
    }

    &.node-past {
        background-color: #F0F0F0;
        > * {
            opacity: 0.4;
        }
    }

    &.node-current {
        background-color: #D8F1D8;
    }

    &.node-upcoming {
        background-color: #D8E4F1;
    }
}

.edge {
    position: absolute;
    background: black;
    height: 1px;
    transform-origin: top left;
    opacity: 0.4;
    z-index: 2;

    &.edge-moving {
        z-index: 5;
        opacity: 1;
    }

    &.critical {
        height: 2px;
        opacity: 1;
    }

    .edge-delete {
        position: relative;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        transform: translate(0,-50%);
        font-size: 23px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        color: transparent
    }

    &:hover .edge-delete {
        color: initial;
    }
}
